* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar properties */

.navbar-nav{
    width: 100%;
    background-color: #FFB61E;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar{
    width: 100%;
    background-color: #FFB61E;
    padding: 18 0;
    margin: 0;
}

.nav-item{
    padding: 0 46px;
}
  
.nav-item a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 25px;
    font-size: 16px;
    text-transform: uppercase;
    justify-content: center;
}
  
a:hover {
    color: #222952;
}


/* body properties */

.contact {
    padding: 0%;
}

.sosmed {
    background-color: #222952;
    max-width: 100%;
    min-width: 50vw;
    height: 100%;
}

.message {
    background-color: #FFB61E;
    min-height: 100vh;
    min-width: 50vw;
}

.body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #ffffff;
    padding-top: 3rem;
}

.highlight {
    background-color: #3A4293;
    border-radius: 10px;
    padding: 0 10px;
}

p {
    color: #ffffff;
}

.sosmed .fa {
    color: #ffffff;
    font-size: 6rem;
}

.fa{
    font-size: 2rem;
}

.wrapper form{
    display: flex;
    flex-direction: column;
    padding: 3rem 6rem;
}

#sosmed {
    background-color: #519BA1;
}

.sosmed p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center; 
}

.nav-link a {
    color: #ffffff;
}

.contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    /* flex-basis: 100%;
    flex: 1; */
}

.top{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.sosmed h1{
    text-align: center;
}

.bottom{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.message h1{
    text-align: center;
}

.wrapper label{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    padding-top: 1rem;
}

input[type=text] {
    border: 3px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;
    padding: 5px 10px;
    color: #FFFFFF;
    font-family: Open Sans, sans-serif;
}

textarea{
    width: 100%;
    height: 150px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 3px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    color: #FFFFFF;
    font-family: Open Sans, sans-serif;
}

input[type=submit] {
    border: 3px solid #FFFFFF;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 5px 10px;
    color: #FFB61E;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* FOOTER PROPERTIES */

.footer {
    background-color: #222952;
}

.footer p {
    color: #ffffff;
}

section {
    padding-top: 55px;
}

.left h1{
    font-family: 'Asap', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.left{
    padding-left: 8rem;
}

.right{
    float: right;
    max-width: 24rem;
}

.isi{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.uni{
    padding-top: 1rem;
}

.footer2{
    display: none;
}

@media (min-width: 1096px){
    /* .wrapper form{
        min-width: 600px;
    } */
}

@media (max-width: 1112px){
    .footer{
        display: none;
    }

    .footer2 {
        display: block;
        background-color: #222952;
    }
    
    .footer2 p {
        color: #ffffff;
    }

    .left2 h1{
        font-family: 'Asap', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .right2{
        display: flex;
        justify-content: right;
        max-width: 16.5rem;
        
    }

    .left2{
        padding-left: 2rem;
    }

    .mail, .instagram, .linkedin, .behance{
        padding: 0 1rem;
    }

    .sosmed, .message{
        width: 100vh;
    }
}

@media (max-width: 540px){
    .right2{
        display: flex;
        font-size: 1rem;
        justify-content: right;
        max-width: 12.5rem;
    }

    .left2 h1{
        font-family: 'Asap', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        line-height: 30px;
        color: #FFFFFF;
    }

    .left2 p{
        color: #ffffff;
        font-size: 0.1rem;
    }

    .left2{
        padding-left: 1.5rem;
    }

    .sosmed{
        width: 100vw;
    }
    
    .message{
        width: 100vw;
    }
    
}

@media (max-width: 623px){
    .sosmed{
        width: 100vw;
    }
    
    .message{
        width: 100vw;
    }
}

